@font-face {
    font-family: Acme;
    src: url(./assets/fonts/Acme/Acme-Regular.ttf);
}

@font-face {
    font-family: AnekBangla;
    src: url(assets\fonts\Anek-Bangla\AnekBangla-VariableFont_wdthwght.ttf);
}

@font-face {
    font-family: Manrope;
    src: url(./assets/fonts/Manrope/Manrope-VariableFont_wght.ttf);
}

@font-face {
    font-family: B612;
    src: url(./assets/fonts/B612_Mono/B612Mono-Regular.ttf);
}

@font-face {
    font-family: Chenla;
    src: url(./assets/fonts/Chenla/Chenla-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Manrope, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    transition: 0.3s;
    filter: brightness(1.2);
}

h1 {
    font-size: 3.75em;
    line-height: 5rem;
    letter-spacing: -0.1125rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.25rem;
    letter-spacing: -0.075rem;
}

h3 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3rem;
    letter-spacing: -0.075rem;
}

h4 {
    font-family: Acme;
    font-size: 1.375rem;
}

h5 {
    font-size: 0.875rem;
    font-family: AnekBankla;
    font-weight: 700;
    text-transform: uppercase;
}

.pNormal {
    font-size: 1.25rem;
    line-height: 2.1875rem;
    letter-spacing: 0.025rem;
}

/* ? #################### Header #######################*/

header {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 1) 50%,
        rgba(222, 242, 251, 1) 100%
    );
    margin-bottom: 3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-top: 2vw;
    margin-bottom: 4vw;
}

.linksHidden {
    display: none;
}

.logo {
    font-size: AnekBankla;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}

.links {
    display: flex;
    gap: 1rem;
    font-size: 0.875rem;
    font-weight: 600;
}

.login {
    display: flex;
    align-items: center;
    gap: 3.06rem;
    font-size: 0.875rem;
    font-weight: 600;
}

.btnOrange {
    color: white;
    border-radius: 2.5rem;
    background: var(--Pallet-11-1, #f57059);
    padding: 1rem 2rem;
}

.btnOrange:hover,
.btnGreen:hover {
    transform: scale(1.1);
}

.links img {
    padding-left: 0.5rem;
}

.headerContainer {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 15%;
    margin-bottom: 5vw;
}

.headerLeft {
    width: 50%;
    padding-top: 4rem;
}

.headerLeft h4,
.headerLeft h1 {
    margin-bottom: 1.5rem;
}

.pNormal {
    margin-bottom: 3rem;
    color: #757095;
}

.headerRight {
    width: 50%;
}

.headerRight img:first-of-type {
    position: relative;
}

.headerRight img:last-of-type {
    position: absolute;
    top: 50%;
    right: 8%;
}

.break::after {
    content: "\A";
    white-space: pre;
}

.stats {
    padding-top: 4rem;
    display: flex;
    gap: 3.14rem;
}

.statsLeft,
.statsRight {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.btnGreen {
    font-size: 0.875rem;
    background-color: #05796b;
    border-radius: 5rem;
    padding: 1rem 3rem 0.875rem 3rem;
    color: white;
    box-shadow: 0 20px 50px#05796c91;
}

.headerLeft a:hover {
    transform: scale(1.2);
}

/* ? ################ Section Partner ################### */

.partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 9.5vw;
}

.partnerLogos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
}

/* ? ###################### Section Our Service ################### */

.ourServices {
    background-image: url(./assets/images/svg/background-our-services.svg);
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
}

.serviceHeading {
    width: 45%;
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
}

.serviceHeading h5 {
    margin-bottom: 2rem;
    font-family: AnekBankla;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
}

.serviceContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 75%;
    margin: auto;
    gap: 1rem;
}

.serviceItem {
    padding: 3rem 3rem 0 3rem;
    border: 1px solid #e7e7e7;
    border-radius: 15px;
    background-color: white;
}

.serviceItem img {
    margin-bottom: 0.75rem;
    background: #ececec;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.serviceItem h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    letter-spacing: -0.025rem;
    margin-bottom: 0.5rem;
}

.serviceItem p {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: -0.015rem;
    padding-bottom: 0.5rem;
    color: #757095;
}

.itemGreen {
    background-color: #05796b;
}

.itemGreen p:first-of-type {
    font-size: 2.0625rem;
    font-weight: 700;
    line-height: 1.75rem;
    letter-spacing: -0.0415rem;
    color: white;
    margin-bottom: 2rem;
}

.itemGreen p:nth-of-type(2) {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.75rem;
    letter-spacing: -0.0375rem;
    color: white;
    margin-bottom: 1rem;
}

.itemGreen p:last-of-type {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.875rem;
    letter-spacing: -0.015rem;
    color: white;
}

/* ? ####################### Section Process ######################## */

.processContainer {
    max-width: 40%;
    margin: auto;
    text-align: center;
    margin-bottom: 5rem;
}

.processContainer img,
.processContainer h2,
.processContainer p {
    margin-bottom: 2rem;
}

.processContainer p {
    color: #757095;
}

.registerContainer {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr;
    max-width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.registerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.registerItem img {
    border-radius: 50%;
    padding: 2.5rem;
    box-shadow: 6px 8px 80px 0px rgba(148, 148, 148, 0.16);
}

.registerItem h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 115%;
    letter-spacing: -0.075rem;
}
.registerItemImage {
    margin-top: -70%;
    margin-left: -15%;
    margin-right: -15%;
    z-index: 3;
    text-align: center;
}

.registerItem p:last-of-type {
    text-align: center;
    color: #757095;
}

.registerItem p:first-of-type {
    font-family: B612;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    border-radius: 100%;
    width: 55px;
    padding: 0.9rem;
    background: rgba(0, 0, 0, 0.02);
    position: absolute;
    left: 10%;
    top: -10%;
}

/* ? ##################### Section Managment App #########################*/

.managementApp {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    margin: auto;
    margin-bottom: 8vw;
}

.managementApp h3 {
    color: #f57059;
    text-align: center;
    font-family: "Anek Bangla";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.managementApp h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3rem;
    letter-spacing: -0.075rem;
    margin-bottom: 2rem;
}

.managementApp p {
    color: #757095;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2.1875rem;
    letter-spacing: -0.025rem;
    margin-bottom: 2rem;
}

.managementApp img {
    padding-right: 0.5rem;
}

.managementApp img:last-of-type {
    width: 1.0625rem;
    height: 1.3125rem;
}

.managementApp img:last-of-type {
    padding-right: 0.25rem;
    width: 1.875rem;
    height: 1.875rem;
}

.managementApp a:first-of-type {
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: 1.875rem;
    letter-spacing: -0.02rem;
    border-radius: 2.9375rem;
    background: #f57059;
    padding: 1rem 2.5rem;
    width: 11rem;
}
.managementApp a:first-of-type::before {
    display: inline-block;
    padding-right: 10px;
    content: url(./assets/images/svg/apple-logo\ 1.svg);
    text-align: center;
}

.managementApp a:last-of-type::before {
    display: inline-block;
    padding-right: 10px;
    content: url(./assets/images/svg/google-play-final.svg);
}

.managementApp a:last-of-type {
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: 1.875rem;
    letter-spacing: -0.02rem;
    border-radius: 2.9375rem;
    background: #05796b;
    padding: 1rem 2rem;
    width: 11rem;
}

/* ? ####################### Section Verified Users ##########################*/

.vUsers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 70%;
    margin: auto;
    gap: 1vw;
    margin-bottom: 5vw;
}

.vUsersText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vw;
}

.vUsers p {
    color: #757095;
    font-size: 1.25rem;
    line-height: 2.1875rem; /* 175% */
    letter-spacing: -0.025rem;
}

.vUsers a {
    color: white;
    border-radius: 5rem;
    background: var(--Pallet-11-3, #05796b);
    width: 11rem;
    text-align: center;
    padding: 1rem 2rem;
}

/* ? ############################# Section Premium ######################## */

.premiumWrapper {
    background-image: url(./assets/images/svg/background.svg);
    background-repeat: no-repeat;
    background-position: 50 75%;
    background-size: contain;
    margin-bottom: 5vw;
}

.premiumContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 40%;
    margin: auto;
    margin-bottom: 5vw;
}

.premiumContainer p {
    color: #757095;
    text-align: center;
    font-size: 1.25rem;
    line-height: 2.1875rem;
}

.premiumCardContainer {
    max-width: 50%;
    margin: auto;
    display: flex;
    border-radius: 1rem;
    margin-bottom: 5vw;
    gap: 2vw;
}

.cardItem {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 8px 80px 0px rgba(167, 167, 167, 0.24);
    padding: 2rem;
}

.cardItem h3 {
    color: #05796b;
    font-size: 1rem;
    font-weight: 500;
}

.cardItem > p:first-of-type,
.cardItem2 > p:first-of-type {
    font-size: 4rem;
    font-weight: 700;
}

.cardItem > p:nth-of-type(2) {
    font-weight: 500;
    color: #8593a3;
    line-height: 200%;
}

.cardItem2 > p:nth-of-type(2) {
    font-weight: 500;
    line-height: 200%;
}

.premiumCard,
.premiumCard2 {
    font-size: 1rem;
    font-weight: 700;
    color: #8593a3;
}

.cardItem2 {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    border-radius: 0.5rem;
    background-color: #05796b;
    box-shadow: 0px 8px 80px 0px rgba(5, 121, 107, 0.32);
    padding: 2rem;
}

.cardItem2 * {
    color: white;
}

.cardItem2 a {
    color: black;
    background-color: white;
}

.cardItem2 h3 {
    font-size: 1rem;
    font-weight: 500;
}

.check {
    display: flex;
    gap: 1rem;
}

.check:nth-of-type(3),
.check:nth-of-type(4) {
    color: #8593a3;
    font-weight: 500;
    line-height: 200%;
}

.cardItem a,
.cardItem2 a {
    border: 1px solid rgba(133, 147, 163, 0.32);
    border-radius: 2rem;
    text-align: center;
    padding: 1rem 2rem;
}

/* ?##################### Section Testimonials ############################ */

.testimonials {
    margin-bottom: 8vw;
}

.testimonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    margin-bottom: 5vw;
}

.testimonContainer h3 {
    color: #3734a9;
    font-family: "Anek Bangla";
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.testimonContainer2 {
    display: flex;
    align-items: center;
    gap: 5vw;
    width: 70%;
    margin: auto;
}

.testimonText img {
    display: block;
    margin-bottom: 2rem;
}

.testimonText > p:first-of-type {
    margin-bottom: 2rem;
    font-size: 1.875rem;
    font-weight: 700;
    color: #1b1c31;
}

.segmentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.segmentContainer p:first-of-type {
    font-size: 1.25rem;
    font-weight: 700;
}
.segmentContainer p:nth-of-type(2) {
    font-weight: 500;
    color: #757095;
}

/* ? ################# Section  Discover ##########################*/

.discoverContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2svw;
    position: relative;
    background-color: #05796b;
    border-radius: 1rem;
    padding: 4rem 8rem;
    max-width: 80%;
    margin: auto;
    margin-bottom: 8vw;
}

.discoverContainer img {
    position: absolute;
    top: 10%;
    left: 5%;
}

.discoverContainer p {
    font-size: 3rem;
    color: white;
    text-align: center;
    font-weight: 700;
}

.discoverContainer a {
    width: 12rem;
}

/* ? ############################ Footer ############################# */

.linkContainer {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 5vw;
}

.linkContainer h3,
.linkContainerGrid h3 {
    font-size: 1.3125rem;
    font-weight: 700;
}

.linkContainer p {
    color: #757095;
}

.item a:hover {
    font-weight: 600;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.divLeft,
.divRight {
    display: flex;

    gap: 1rem;
}

.linkItem {
    max-width: 20%;
    padding-right: 2vw;
}

.linkItem {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.socialContainer {
    display: flex;
    gap: 2vw;
}

.socialContainer a:hover {
    transition: 0.1s;
    transform: scale(1.4);
}

.copyright {
    font-size: 1.5rem;
    font-family: Chenla;
    text-transform: uppercase;
    max-width: 50%;
    text-align: center;
    margin: auto;
    color: #181433;
    margin-bottom: 2vw;
}

/* ? ##################### MEDIA QUERIES #################### */

@media only screen and (min-width: 1900px) {
    html {
        font-size: 125%;
    }

    .totalBalance {
        display: none;
    }

    .vUsers {
        gap: 1vw;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 90%;
    }

    .headerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto;
        margin-bottom: 10vw;
    }

    .pNormal {
        text-align: center;
    }

    .headerLeft h1 {
        text-align: center;
    }
    .headerRight {
        display: none;
    }

    .partner h4 {
        margin-bottom: 5vw;
    }

    .partnerLogos {
        gap: 4vw;
    }

    .serviceContainer {
        width: 90%;
        margin-bottom: 10vw;
    }

    .registerItemImage {
        padding-bottom: 10vw;
    }

    .managementApp h3,
    .managementApp h2,
    .managementApp p {
        margin-bottom: 5vw;
    }

    .managementApp {
        margin-bottom: 15vw;
    }

    .vUsers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vw;
    }

    .vUsers h2 {
        text-align: center;
    }

    .vUsersText {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .premiumContainer {
        max-width: 75%;
        gap: 5vw;
    }

    .premiumCardContainer {
        flex-direction: column;
        gap: 5vw;
    }

    .testimonContainer2 {
        flex-direction: column;
    }

    .linkContainer {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 560px) {
    html {
        font-size: 85%;
    }

    nav {
        align-items: center;
    }

    .links {
        display: none;
    }

    .linksHidden {
        display: block;
    }

    .partnerLogos img {
        width: 40%;
    }

    .partnerLogos img:last-of-type {
        margin: auto;
    }

    .serviceItem {
        text-align: center;
    }

    .registerContainer {
        display: flex;
        flex-direction: column;
        gap: 10vw;
        width: 70%;
    }

    .registerItemImage {
        display: none;
    }

    .mAppBtnContainer {
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }

    .mAppBtnContainer a:first-of-type,
    .mAppBtnContainer a:last-of-type {
        width: 15rem;
    }

    .linkContainer {
        width: 90%;
    }

    .linkItem {
        text-align: center;
    }

    .item {
        text-align: center;
    }

    .item:last-of-type {
        text-align: center;
        margin: auto;
        margin-top: 5vw;
    }

    .copyright {
        font-size: 1rem;
        text-align: center;
    }

    .break:after {
        content: "\A";
        white-space: pre;
    }
}
